[Unit]
Description=Car Reciever Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/CarControllerReciever/main.py
WorkingDirectory=/home/pi/CarControllerReciever
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target