[Unit]
Description=Car Reciever Service
After=network.target

[Service]
ExecStart=/home/pi/CarControllerReciever/runForever.sh
WorkingDirectory=/home/pi/CarControllerReciever
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target